*{
    margin: 0px;
}

/* navbar desing */
.navbar{
    background-color: #58614E;
    display: flex;
    align-items: center ;
    justify-content: space-evenly;
    padding: 40px;
}
.nav-link{
    color: white;
    margin-left: 20px;
    font-size: 14px;
}

.body1 img{
    height: 30px;
    
}
.body1{
    margin-left: 200px;
    margin-top: 30px;
    border-right: 1px dotted grey;

}
.body1 h2{
    padding-bottom: 20px;
    border-bottom: 1px dotted grey;
}

.body1 p{
    margin-bottom: 10px;
    font-size: 15px;
}

.body1 h5{
    margin-bottom: 20px;
}
.body{
    display: flex;
}
.body h1{
    margin-top: 20px;
    margin-left: 100px;
}

.body p{
    margin-top: 20px;
    margin-left: 100px;
    font-size: 15px;
}

.form{
    margin-left: 100px;
    margin-top: 20px;
}

.input{
    padding-right: 420px;
}
.input1{
    padding-right: 350px;
}
.send{
    border: 1px solid gray;
    background-color: gray;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}






/* footer */
.footer{
    padding-top: 10px;
    background-color: #D9D9D9;
    justify-content: space-evenly;
    padding-bottom: 50px;
    margin-top: 5px;
    padding-left: 50px;
}
.footer-inner1{
    display: flex;
}
.footer1{
padding: 10px;
margin-top: 30px;
width: 400px;
margin-left: 50px;
border-right: 2px dotted grey;
}

.footer2{
padding: 10px;
margin-top: 30px;
width: 400px;
border-right: 2px dotted grey;
}

.footer3{
    padding: 40px;
    margin-top: 30px
    margin-left: 200px;
    width: 400px;
}

.btn1{
    background-color: grey;
    color: white;
    padding: 5px;
    margin-top: 30px;
    margin-left: 5px;
   border: none;
   display: block;
   text-align: center;
   text-decoration: none;
   width: 250px;
}

.footer-inner{
    display: flex;
    justify-content: space-evenly;
    background-color: #4F5843;
    padding: 20px;
    color: white;
   

}

.socialmedia img{
    width: 15px;
    border-radius: 5px;

}